@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<div class="error-message">
    <span class="error-text">Você não possui permissão para acessar essa página.</span>
</div>
