@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.field-validation-error {
    color: #be2020;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

body {
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.error-message {
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    float: left;
    padding: 20px 30px;
}

.error-text {
    color: #cc0033;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 1px 1px rgba(250,250,250,.3);
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #ffffff;
}

#sidebar {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 100vh;
    min-width: 70px;
    z-index: 1000;
    border-radius: 0px 18px 18px 0px;
    transition: all .25s ease-in-out;
    background-color: #3c465c;
    display: flex;
    flex-direction: column;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #ffffff;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    color: #ffffff;
    font-size: 1.15rem;
    font-weight: 600;
}

.sidebar-logo a {
    color: #ffffff !important;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #ffffff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    color:#ffffff;
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 4px solid #ffffff;
}

.sidebar-item {
    margin-bottom: 9px;
    position: relative;
}

.items {
    color:#FFF;
}

.sidebar-footer form {
    margin: auto 0; /* Centraliza o botão na parte inferior da sidebar */
}

.sidebar-footer button {
    background: none;
    border: none;
    padding: .625rem 1.625rem;
    color: #ffffff;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    text-align: left; /* Alinha o texto à esquerda */
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s, border-left 0.3s;
    text-transform: none; /* Remove transformação de texto */
}

.sidebar-footer button i {
    color: #ffffff;
    font-size: 1.1rem;
    margin-right: .75rem;
}

/* Estilo para o efeito hover do botão "Sair" */
.sidebar-footer button:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 4px solid #ffffff;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #fafafa;
    padding: 0;
    min-width: 15rem;
    display: none;
}

#sidebar:not(.expand) .sidebar-item:hover .has-dropdown+.sidebar-dropdown {
    display: block;
    max-height: 15em;
    width: 100%;
    opacity: 1;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

#sidebar:not(.expand) .sidebar-footer button .items {
    display: none;
}

/* Mostrar apenas o ícone quando a sidebar está fechada */
#sidebar:not(.expand) .sidebar-footer button i {
    margin-right: 0;
}